* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans',sans-serif;
}

header {
    width: 100%;
    height: auto;
}

.nav-hero {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

.nav-top-section-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.basic-info-section {
    display: grid;
    grid-template-rows: auto;
    width: 95%;
}

.basic-info-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}
.basic-info-hero span {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f89fc;
    border-radius: 50%;
    margin-right: 20px;
    padding: 15px;
}


.basic-info-hero a {
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

.hyperlink-bottom-section-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.logo-hero {
    padding-left: 20px;
}

.logo-hero h3{
    font-size: 1rem;
}

.hyperlink-section {
    display: none; /* grid */
    width: 90%;
    height: auto;
    background-color: #000;
    padding: 0 10px;
}

.hyperlink-section a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

/* main  */

.section-main {
    margin-top: 50px;
}

/* info section */

.all-info-section-img {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
    background-blend-mode: soft-light;
    background-image: url('https://3.bp.blogspot.com/-ejmYfAub2UI/WdwZtKRQM2I/AAAAAAAABBk/FAp0HP7p_NUSkC9ebkIVqfstf5qnlFOywCLcBGAs/s1600/Heidelberg%2BDentist%2BPreferred%2BProivder%2Bfor%2BHFC.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-info-img-hero {
    width: 400px;
    height: auto;
    text-align: center;
}

.all-info-section-img p {
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    line-height: 2.5rem;
}

.all-info-section-img p:nth-child(2) {
    color: #2f89fc;
    font-size: 1.7rem;
}


.appointment-hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 70px;
    background-color: #ff8000;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px auto;
}

.appointment-hero-button a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 300;
}

.all-info-section-hero {
    width: 100%;
    height: auto;
}

.info-section-hero {
    width: 90%;
    min-height: 300px;
    margin: 10px auto 0 auto;
    padding: 30px;
    background-color: #2f89fc;
    text-align: center;
}

.emergency-cases{
    background-color: #5692df;
}
.emergency-cases p{
    font-size: 1.3rem;
    color: #fff;
    padding: 15px;
    line-height: 2rem;
}
.info-title {
    padding-top: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.emergency-number-hero{
    width: 200px;
    height: 50px;
    background-color: #ff8000;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.emergency-number-hero a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
}

.table-week-hero {
    margin: 20px auto;
}

.table-week-hero tr {
    padding: 10px;
}

.table-week-hero tr td{
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
}


.info-form-hero {
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.info-form-hero span {
    padding-right: 15px;
}

.appointment-section{
    background-color: #1968cd;
}

.deparments {
    width: 90%;
    height: 40px;
    background-color: #1968cd;
    border: none;
    color: #fff;
}

.deparments option{
    color: #fff;
}

.info-form-hero input {
    width: 95%;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
}

.info-form-hero input::placeholder {
    color: #fff;
}

.button-appointment {
    width: 210px;
    height: 50px;
    background-color: #ff8000;
    border-radius: 50px;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    margin-top: 50px;
}

/* section about us */


.aboutUs-hero {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 50px
}

.aboutUs-video-hero {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs-video-hero video {
    width: 90%;
}

.aboutUs-txt-hero {
    padding: 25px;
}

.aboutUs-txt-hero h3 {
    font-size: 1.5rem;
    color: #2f89fc;
}

.aboutUs-txt-hero p:nth-child(2){
    font-size: 2rem;
    font-weight: bold;
}

.aboutUs-txt-hero p{
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 20px 0;
}

.aboutUs-button-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutUs-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8000;
    border-radius: 50px;
}

.aboutUs-button:nth-child(2){
    background-color: #2f89fc;
}

.aboutUs-button a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

/* section services */

.services-section-hero{
    background-color: #121212;
    width: 100%;
}

/* TITULOS */
.general-title{
    font-size: 1.8rem;
    width: 90%;
    text-align: center;
    color: #2f89fc;
    padding: 30px 0;
    border-bottom: 4px solid #ffff ;
    margin: 0 auto;
}


.all-services-hero {
    display: grid;
    grid-template-rows: auto;
    padding: 30px 0
}

.services-hero{
    width: 100%;
    max-height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
}

.services-hero span{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 15px;
    background-color: #2f89fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-hero span img {
    width: 50px;
}

.services-info-price-hero {
    padding-left: 30px;
}

.services-info-price-hero p:nth-child(1){
    font-size: 1.3rem;
    font-weight: bold;
}

.services-info-price-hero p{
    font-size: 1rem;
    padding: 10px 0;
    color: #ffff;
}

.services-info-price-hero p:nth-child(3){
    font-weight: bold;
    color: #2f89fc;
}

.more-services-button {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-services-button a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
}

/* ubication section */

.map-section {
    background-color: #f2f2f2;
    margin-top: 50px;
}

.all-map-section-hero{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}


.map-section-hero {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr;
}

.map-section-hero iframe{
    width: 90%;
    height: 500px;
}

.question-area-form {
    width: 100%;
    height: auto;
    padding: 30px;
    margin: 0 auto;
}

.question-area-form input{
    width: 100%;
    height: 40px;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
}

.question-area-form input::placeholder {
    padding: 10px;
    font-size: 1rem;
    color: #c9c8c8;
}

.question-area-form textarea{
    width: 100%;
    height: 200px;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    font-size: 1.2rem;
}

.question-area-form textarea::placeholder {
    padding: 10px;
    color: #c9c8c8;
}

.question-area-form div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-area-form button {
    width: 150px;
    height: 40px;
    background-color: #ff8000;
    border-radius: 50px;
    border: none;
    text-align: center;
    color: #fff;
}

.questions-hero{
    background-color: #121212;
    width: 100%;
}

/* doctor info section */

.doctors-section {
    background-color: #1e1e1e;
}

.all-doctors-hero {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 30px 0;
}

.doctors-hero{
    display: grid;
    justify-items: center;
    width: 90%;
    height: auto;
    padding: 15px;
    background-color: #E5E5E5;
    margin: 10px 0;
    border-radius: 10px;
}

.doctor-info-hero{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
    padding: 15px;
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
    background: #E5E5E5;
    box-shadow: inset 5px 5px 12px #9e9e9e,
            inset -5px -5px 12px #ffffff;
}

.doctor-img-hero {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    box-shadow: inset 14px 14px 28px #9e9e9e,
            inset -14px -14px 28px #ffffff; 
}

.doctor-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('https://lwfiles.mycourse.app/academyda-public/2df54e3a5439308aacd85d8c275e888f.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doctor-info-hero p{
    text-align: center;
    font-size: 1.1rem;
    padding: 20px 0;
}

.doctor-info-hero p:nth-child(2){
    font-size: 1.2rem;
    font-weight: bold;
}

.doctor-social-hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: -20px;
}

.doctor-social-media {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #E5E5E5;
    box-shadow: inset 14px 14px 28px #9e9e9e,
            inset -14px -14px 28px #ffffff;
}
.doctor-specialtys-hero{
    width: 100%;
    padding: 20px;
}

.doctor-specialtys-hero p{
    font-size: 1rem;
}

.specialtys-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.doctor-specialtys {
    min-width: 125px;
    min-height: 50px;
    padding: 10px;
    border-radius: 73px;
    background: #E5E5E5;
    box-shadow:  50px 50px 84px #cecece,
                 -50px -50px 84px #fcfcfc;
    font-size: 1rem;
    color: #A328B7;
    text-align: center;
}

/* blog section */

.title-botton {
    border-bottom: 4px solid #000;
}

.all-blogs-hero {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 15px;
}

.blogs-hero {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    display: grid;
    justify-items: flex-start;
    grid-template-rows: auto;
    padding: 20px;
    margin-bottom: 15px;
}

.blog-img {
    width: 100%;
    height: 200px;
    background-image: url('accets/pexels-george-becker-298611.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogs-hero p{
    font-size: 1.1rem;
    color: #000;
    line-height: 1.8rem;
    padding-top: 15px;
}
.blogs-hero p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2f89fc;
}


.blogs-hero p:nth-child(4) {
    font-size: 1rem;
    font-weight: bold;
}

.blogs-hero a{
    width: 150px;
    height: 40px;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 20px auto 0 auto;
    border-radius: 50px;
}

.all-testimonials-hero {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow-y:hidden ;
    padding: 15px;
    background-color: #2f89fc;
    margin-top: 30px;
}

.testimonials-hero {
    min-width: 100%;
    height: 540px;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    scroll-snap-align: center;
    padding: 20px;
    margin: 0 10px;
}

.testimonials-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    background-image: url('accets/testimonial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-hero p{
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    line-height: 1.8rem;
}

.testimonials-hero p:nth-child(4){
    font-weight: bold;
}